@import "../../../../styles.scss";
.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all 0.2s;
    display: inline-block;
    position: relative;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba($color-black, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-grey;
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary-green;
    color: $color-white;
    &::after {
      background-color: $color-primary-green;
    }
  }

  &--danger {
    background-color: $color-primary-red;
    color: $color-white;
    &::after {
      background-color: $color-primary-red;
    }
  }

  &--animated-right {
    animation: moveInRight 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--animated-left {
    animation: moveInLeft 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--animated-top {
    animation: moveInTop 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--animated-bottom {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
