$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-primary-green: #008000;
$color-primary-red: #ff0000;
$color-black: #000;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  &--main {
    font-size: 60px;
    font-weight: 400;
    display: block;
    letter-spacing: 35px;
    animation: moveInLeft 2s ease-in;
  }
  &--sub {
    font-size: 20px;
    font-weight: 400;
    display: block;
    letter-spacing: 17.3px;
    animation: moveInRight 2s ease-in;
    margin-bottom: 60px;
  }
}
